<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
	<servlet-name>front</servlet-name>
	<servlet-class>AppFrontController</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>front</servlet-name>
	<url-pattern>*.app</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>board</servlet-name>
	<servlet-class>board.boardController</servlet-class> <!-- 패키지이름도 항상추가! -->
</servlet>
<servlet-mapping>
	<servlet-name>board</servlet-name>
	<url-pattern>*.board</url-pattern>
</servlet-mapping>
</web-app>